@mixin col() {
	box-sizing: border-box;
	background-color: #bbb;
	display: inline-block;
	margin-top: 1rem;
	margin-left: .5rem;
	margin-right: calc(.5rem - 4px);
	margin-bottom: 1rem;
	padding: .5rem;
}


@mixin col-x-y($cols-per-rows, $break-points) {

    @each $i in $cols-per-rows {

        @for $j from 1 through $i - 1 {
            // Initialize column layout
            .#{ $prefix }col-#{ $j }-#{ $i } { 
                @include col;
                
                width: calc((#{ $j } * (100% / #{ $i })) - 1rem);
            }

            @each $break-name, $break-size in $break-points {
                @media (min-width: $break-size) {
                    .#{ $prefix }col-#{ $break-name }-#{ $j }-#{ $i } {
                        @include col;
                        
                        width: calc((#{ $j } * (100% / #{ $i })) - 1rem);
                    }
                }
            }
        }
    }
}
